@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Lato:ital,wght@0,100;0,300;1,100;1,300&family=Open+Sans:wght@300&family=Playfair+Display&display=swap');

*,

*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    -webkit-box-sizing: border-box;
}

:root{
    --primary-color: #7854f7;
    --dark-color: #181131;
    --accent-color: #d57d00;
    --light-color: #f7f7f7;
    --secondary-color: #515151;
}

/* px , rem , em , pt , percent */
html{
    font-size: 62.5%;
    font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body{
    font-size: 1.5rem;
    background: linear-gradient(141deg, #fff 0%, #f7f7f7 51% #f2f2f2 75%);
}

button{
    cursor: pointer;
    font-family: inherit;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    /* padding-left: 1rem;
    padding-right: 1rem; */
    padding: 0 1rem ;
}

.btn{
    font-family: inherit;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    outline: 0;
    border: none;
    box-sizing: none;
    transition: all .3s ease;
    -webkit-transition: all 0.5s ease;
    background-color: var(--primary-color);
}

/* BEM */   

.btn-primary{
    background-color: var(--primary-color);
    color:  var(--light-color);
}
.btn-primary:hover{
    background-color: transparent;
    color: var(--dark-color);
    box-shadow: inset 0 0 0.2rem var(--primary-color);
}