.customize__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.customize__header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.customize__item--left img{
    width: 500px;
    height: 500px;
}

.customize__item--right{
    display: flex;
    margin-right: 73px;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
    margin-right: 40px;
}

.customize__item--right h1{
    font-size: 7.5rem;
    font-weight: 500;
    color: var(--dark-color);
    margin-bottom: 2.5rem;
    line-height: 8rem;
}

.customize__item--right p{
    color: var(--secondary-color);
    font-size: 1.5rem;
    margin-left: 3px;
}

.customize__columns{
    border-radius: 15px;
    height: 100px;
    margin-top: 22px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr;
    box-shadow: rgba(0, 0, 0, 0.1) 4px 5px 6px;
}

.customize__columns:hover{
    
    transition: all 0.3s ease-in-out;
    box-shadow: 3rem 2.5rem 3rem 2rem none;
    -webkit-box-shadow: 3rem 2.5rem 3rem 2rem none;
    transform: translateX(-2rem);
}

.sec1{
    border-left:4px solid #f39c12;
}

.sec2{
    border-left:4px solid blue;
}

.sec3{
    border-left:4px solid green;
}

@media (max-width: 1300px) {
    .customize__wrapper{
        justify-content: space-around;
    }
}

@media (max-width: 1030px) {
    .customize__wrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
    .customize__item--left {
        display: none;
    }
    .customize__item--right{
        display: flex;
        align-items: center;
    }
}
@media (max-width: 430px) {
}