
.Customize__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Customize__item--right{
    display: flex;
    margin-right: 73px;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;
    margin-right: 40px;
}

.Customize__item--right h1{
    font-size: 7.5rem;
    font-weight: 500;
    color: var(--dark-color);
    margin-bottom: 2.5rem;
    line-height: 8rem;
}

.Customize__item--right p{
    color: var(--secondary-color);
    font-size: 1.5rem;
    margin-left: 3px;
}

.Customize__item--left img{
    margin-left: 50px;
    opacity: .9rem;
    width: 600px;
    height: 500px;
}

.Customize-columns{
    border-radius: 15px;
    height: 100px;
    margin-top: 22px;
    padding: 5px;
    width: 360px;
    box-shadow: rgba(0, 0, 0, 0.1) 4px 5px 6px;
}

.Customize-columns:hover{
    
    transition: all 0.3s ease-in-out;
    box-shadow: 3rem 2.5rem 3rem 2rem none;
    -webkit-box-shadow: 3rem 2.5rem 3rem 2rem none;
    transform: translateX(-2rem);
}

.sec1{
    border-left:4px solid #f39c12;
}

.sec2{
    border-left:4px solid blue;
}

.sec3{
    border-left:4px solid green;
}