

.features__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.customize-header{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.features__item--left{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.features__item--left h1{
    font-size: 5.5rem;
    font-weight: 500;
    color: var(--dark-color);
    margin-bottom: 2.5rem;
    line-height: 8rem;
}

.features__item--left p{
    color: var(--secondary-color);
    font-size: 1.5rem;
    margin-left: 3px;
}

.features__item--right{
    
}

.features__item--right img{
    opacity: .9rem;
    width: 550px;
    height: 370px;
}
.icons i{
    padding: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    color: var(--light-color);
}

i.fa-compass-drafting{
    background-color: blue;
}

i.fa-react{
    background-color: #f39c12;
}

.icons{
    margin-top: 20px;
    margin-right: 40px;
}

.features--icons{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 1rem;
    margin-right: 2rem;
    align-items: flex-start;
}