.features__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.features__item--left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.features__item--left h1{
    font-size: 7.5rem;
    font-weight: 500;
    color: var(--dark-color);
    margin-bottom: 2.5rem;
    line-height: 8rem;
}

.features__item--left p{
    color: var(--secondary-color);
    font-size: 1.5rem;
}

.features__item--right{
    width: 400px;
}

.features__icon{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: space-between;
}

.icons{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 1.5rem;
    transition: all 0.4s ease-in-out;
}

.one{
    display: flex;
    align-items: flex-end;
}

.features__item--right img{
    opacity: .9rem;
    width: 550px;
    height: 370px;
}

@media (max-width: 890px) {
    .features__item--right {
        display: none;
    }
    .features__wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .features__item--left{
        display: flex;
        justify-content: center;
    }
    .features__icons{
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width: 530px) {
    .features__wrapper h1{
        font-size: 3.5rem;
    }
    .icons{
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .features__icons{
        display: flex;
        flex-direction: column;
    }
    .features__item--left{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}