#features{
    background-color: #f4f4ff;
}
.features__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}
.features__wrapper--left h1{
    font-size: 7.5rem;
    font-weight: 500;
    color: var(--dark-color);
    margin-bottom: 2.5rem;
    line-height: 8rem;
}

.features__item--left p{
    color: var(--secondary-color);
    font-size: 1.5rem;
}

.features__icons{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: space-between;
}


.features__item--right{
    width: 400px;
}

.features__item--right img{
    width: 400px;
    height: 370px;
}

@media (max-width: 1050px) {
    .features__wrapper{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .features__item--right {
        display: none;
    }
    
    .features__icons{
        display: flex;
        justify-content: space-around;
    }
}
@media (max-width: 530px) {
    .features__wrapper h1{
        font-size: 3.5rem;
    }
    .icons{
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .features__icons{
        display: flex;
        flex-direction: column;
    }
    .features__item--left{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}