.footer__wrapper{
    margin: auto;
    display: grid;
    grid-template-columns: 1.7fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 2rem 2rem;
    padding-bottom: 4rem;
}

.footer__wrapper p{
    color: var(--secondary-color);
    font-size: 1.5rem;
    margin-left: 3px;
    margin: 10px 0px 10px;
}

.footer__wrapper--grid ul li:not(:last-child) {
    margin: 2rem 0rem;
}

.footer__lists{
    margin-top: 3rem;
}

.paragraph{
    width: 80%;
}

.social__links{
    display: flex;
    flex-direction: row;
}

.btn__like{
    border-radius: 50%;
    border-color: var(--primary-color);
    background-color: var(--light-color);
    width: 40px;
    height: 40px;
    margin: 5px;
    color: var(--primary-color);
}

.btn__like:hover{
    background-color: var(--primary-color);
    color: var(--light-color);
}

.footer__grid--second{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 45px;
}

.footer__grid--second li{
    cursor: pointer;
    color: var(--secondary-color);
    font-size: 1.5rem;
    margin-left: 3px;
    margin: 10px 0px 10px;
}

.footer__grid--second li:hover{
    color: var(--primary-color);
}

.footer__grid--third{
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

.footer__grid--input{
    display: flex;
    flex-direction: row;
}

.input{
    padding: 10px;
    height: 50px;
    width: 280px;
}

.btn__send{
    width: auto;
    height: 40px;
    position: relative;
    left: -94px;
    top: 5px;
}

@media (max-width: 1200px) {
    .footer__wrapper{
        display: grid;
        grid-template-columns: 1.7fr 1fr;
    }
   
}
@media (max-width: 700px) {
    .footer__wrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
   
}