#footer{
    padding: 30px 50px 10px;
}

.footer-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 50px;
}

.footer-grid-second{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 45px;
}
.footer-grid-third{
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

.footer-wrapper p{
    color: var(--secondary-color);
    font-size: 1.5rem;
    margin-left: 3px;
    margin: 10px 0px 10px;
}

.footer-grid-second li{
    cursor: pointer;
    color: var(--secondary-color);
    font-size: 1.5rem;
    margin-left: 3px;
    margin: 10px 0px 10px;
}

.footer-grid-second li:hover{
    color: var(--primary-color);
}

.paragraph{
    width: 80%;
}

.footer-grid-input{
    display: flex;
    flex-direction: row;
}

.send{
    width: auto;
    height: 40px;
    position: relative;
    left: -92px;
    top: -25px;
}

.input{
    padding: 10px;
    height: 50px;
    width: 280px;
}

.social-links{
    display: flex;
    flex-direction: row;
}

.btn-like{
    border-radius: 50%;
    border-color: var(--primary-color);
    background-color: var(--light-color);
    width: 40px;
    height: 40px;
    margin: 5px;
    color: var(--primary-color);
}

.btn-like:hover{
    background-color: var(--primary-color);
    color: var(--light-color);
}