#header{
    min-height: 10vh;
}

.navbar__wrapper{
    display: flex;
    gap: 7rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar__wrapper--logo img{
    position: relative;
    top: 1.5rem;
    height: 7rem;
}

.navbar__wrapper--list{
    position: relative;
    top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav__list{
    margin: 0 3rem;
    color: var(--dark-color);
    transition: all .4s ease-in-out;
}

.nav__list:hover{
    color: var(--primary-color);
}

