.hero__wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}

.hero__item--left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hero__item--left h1{
    font-size: 6rem;
    color: var(--dark-color);
    animation-duration: 3s;
    animation-name: slidein;
}

.hero__item--left p{
    color: var(--secondary-color);
}

.left__item--demo{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

.hero__item--right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hero__item--right img{
    width: 500px;
}
.svg{
    position: relative;
    top: 15px;
    animation: mymove 10s infinite;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    75% {
        font-size: 300%;
        margin-left: 25%;
        width: 150%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

@keyframes mymove {
    50% {transform: rotate(180deg);}
}

@media (max-width: 1100px) {
    .hero__wrapper{
        display: grid;
        grid-template-columns:1fr;
    }

    .hero__item--right{
        display: none;
    }
    .hero__item--left{
        display: inline;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .br{
        display: none;
    }
}
@media (max-width: 800px) {

    .br{
        display: inline;
    }
}
@media (max-width: 505px) {
    .hero__item--left h1{
        font-size: 3rem;
    }
    .svg{
        width: 40px;
    }
}