#process{
    min-height: 20vh;
}

.process-wrapper{
    padding: 50px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.process-graid h2{
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 3.5rem;
    margin-bottom: 1.5rem;
    color: var(--dark-color);
}

.process-graid p {
    font-size: 1.8rem;
    opacity: 0.9;
    color: var(--secondary-color);
}

.process-box{
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
}

.process-box i{
    padding: 1.5rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    color: var(--light-color);
}

.process-box h3{
    font-size: 2rem;
    font-weight: 600;
    color: var(--dark-color);
    margin-bottom: 1.5rem;
}

.process-box p {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--secondary-color);
    margin-bottom: 1.5rem;
}

i.fa-arrow-right-to-bracket{
    background-color: #f39c12;
}

i.fa-handshake{
    background-color: #2980b9;
}

i.fa-user-check{
    background-color: #e74c3c;
}

.process-active{
    transition: all 0.3s ease-in-out;
    box-shadow: 3rem 2.5rem 3rem 2rem rgb(128, 128, 128 , 8.897);
    -webkit-box-shadow: 3rem 2.5rem 3rem 2rem rgb(128, 128, 128 , 8.897);
}

.process-active:hover{
    transform: translateY(-2rem);
}