.process__wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.process__wrapper--left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 260px;
}

.process__wrapper--right{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px , 1fr));
    justify-content: space-around;
    grid-gap: 20px;
}

.process__wrapper h2 {
    font-size: clamp(2.5rem, 5vw, 4rem);
    font-weight: 700;
    line-height: clamp(2.5rem, 5vw, 4rem);
    margin-bottom: 1.5rem;
    color: var(--dark-color);
}

.process__wrapper p {
    font-size: 1.7rem;
    opacity: 0.9;
    color: var(--secondary-color);
}

.item__box {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
    transition: all 0.4s ease-in-out;
    text-align: center;
    background-color: #f4f4ff;
    box-shadow: 0.1rem 0.1rem 1rem 0 rgb(0 0 0 / 10%);
}

.item__box i {
    font-size: 3rem;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
    color: var(--light-color);
    transition: all 0.4s ease-in-out;
    border: 1px solid;
}

.item__box h3 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--dark-color);
    margin-bottom: 1.5rem;
}

.item__box p {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--secondary-color);
    margin-bottom: 1.5rem;
}

i.fa-arrow-right-to-bracket{
    background-color: #f39c12;
}

i.fa-handshake{
    background-color: #2980b9;
}

i.fa-user-check{
    background-color: #e74c3c;
}

.item__box:hover{
    transition: all 0.3s ease-in-out;
    box-shadow: 3rem 2.5rem 3rem 2rem none;
    -webkit-box-shadow: 3rem 2.5rem 3rem 2rem none;
    transform: translateY(-2rem);
}

.item__box:hover i.fa-arrow-right-to-bracket{
    color: #f39c12;
    background: snow;
    box-shadow: 0.1rem 0.1rem 1rem 0 #f39c12;
    border:1px solid #f39c12;
}

.item__box:hover i.fa-handshake{
    color: #2980b9;
    background: snow;
    box-shadow: 0.1rem 0.1rem 1rem 0 #2980b9;
    border:1px solid #2980b9;
}

.item__box:hover i.fa-user-check{
    color: #e74c3c;
    background: snow;
    box-shadow: 0.1rem 0.1rem 1rem 0 #e74c3c;
    border:1px solid #e74c3c;
}

@media (max-width: 1250px) {
    .process__wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        grid-gap: 20px;
    }
    .process__wrapper--left{
        width: auto;
        text-align: center;
    }
}