#signUp{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.signUp__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.signUp__item--left{
    display: flex;
    margin-right: 23px;
    flex-direction: column;
    justify-content: space-around;
}

.signUp__item--left h1{
    font-size: 5.5rem;
    font-weight: 500;
    color: var(--dark-color);
    margin-bottom: 2.5rem;
    line-height: 8rem;
}

.signUp__item--left p{
    color: var(--secondary-color);
    font-size: 1.5rem;
    margin-left: 3px;
}

.signUp__item--right img{
    margin-left: 50px;
    opacity: .9rem;
    width: 500px;
    height: 300px;
}

button{
    width: 180px;
margin-top: 30px;
}