.signup__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.signup__item--left{
    display: flex;
    flex-direction: column;
}

.signup__item--left h1{
    font-size: 5.5rem;
    font-weight: 500;
    color: var(--dark-color);
    margin-bottom: 2.5rem;
    line-height: 8rem;
}

.signup__item--left p{
    color: var(--secondary-color);
    font-size: 1.5rem;
    margin-left: 3px;
}

.signup__item--right img{
    width: 400px;
    height: 250px;
}

.btn__signup{
    width: 180px;
    margin-top: 30px;
}

@media (max-width: 500px) {
    .signup__wrapper h1{
        font-size: 3.5rem;
    }
}

@media (max-width: 850px) {
    .signup__wrapper{
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .signup__item--right{
       display: none;
    }
    .signup__item--left{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}